In [24]:
import pandas as pd
import os
import numpy as np

In [25]:
os.chdir('c:\\Users\\erica\\OneDrive - University of Southern California\\Classes\\INF_510\\Final_Project')

In [26]:
os.getcwd()

'c:\\Users\\erica\\OneDrive - University of Southern California\\Classes\\INF_510\\Final_Project'

In [27]:
df1 = pd.read_csv(r'data\2020-03-31_billboard_100.csv')

In [28]:
df2 = pd.read_csv(r'data\2020-04-07_billboard_100.csv')

In [29]:
df3 = pd.read_csv(r'data\2020-04-14_billboard_100.csv')

In [30]:
df4 = pd.read_csv(r'data\2020-04-21_billboard_100.csv')

In [31]:
df4.shape

(100, 6)

In [32]:
df1.drop(columns=['Rank_Default', 'Rank_LastWeek', 'Rank_Peak','Num_Weeks_on_Chart'], inplace=True, )
df2.drop(columns=['Rank_Default', 'Rank_LastWeek', 'Rank_Peak','Num_Weeks_on_Chart'], inplace=True, )
df3.drop(columns=['Rank_Default', 'Rank_LastWeek', 'Rank_Peak','Num_Weeks_on_Chart'], inplace=True, )
df4.drop(columns=['Rank_Default', 'Rank_LastWeek', 'Rank_Peak','Num_Weeks_on_Chart'], inplace=True, )

In [34]:
df1.head()

              Song       Artist
0  Blinding Lights   The Weeknd
1          The Box  Roddy Ricch
2  Don't Start Now     Dua Lipa
3        Heartless   The Weeknd
4          Circles  Post Malone

In [38]:
dfs = [df1, df2, df3, df4]

In [39]:
res = pd.concat(dfs, join='inner', axis=0)

In [40]:
res.shape

(400, 2)

In [41]:
res.head()

              Song       Artist
0  Blinding Lights   The Weeknd
1          The Box  Roddy Ricch
2  Don't Start Now     Dua Lipa
3        Heartless   The Weeknd
4          Circles  Post Malone

In [43]:
res2 = res[~res.duplicated()]

In [44]:
res2.shape

(143, 2)

In [45]:
res2.head()

              Song       Artist
0  Blinding Lights   The Weeknd
1          The Box  Roddy Ricch
2  Don't Start Now     Dua Lipa
3        Heartless   The Weeknd
4          Circles  Post Malone