In [17]:
import sqlite3
import sqlalchemy

In [18]:
import pandas as pd
import numpy as np
import json
import re
import pprint

In [19]:
# do run in loop later
with open(f'data/tracks/Ballin_track.json') as f:
    track = json.load(f)
    print(type(track))

<class 'dict'>

In [21]:
# pp = pprint.PrettyPrinter()
# pp.pprint(track)

In [23]:
print(track.keys())

dict_keys(['album', 'artists', 'available_markets', 'disc_number', 'duration_ms', 'explicit', 'external_ids', 'external_urls', 'href', 'id', 'is_local', 'name', 'popularity', 'preview_url', 'track_number', 'type', 'uri'])

In [25]:
print(track['album'].keys())

dict_keys(['album_type', 'artists', 'available_markets', 'external_urls', 'href', 'id', 'images', 'name', 'release_date', 'release_date_precision', 'total_tracks', 'type', 'uri'])

In [37]:
track['album']['name']
track['album']['id']
track['album']['release_date']

'2019-06-28'

In [38]:
# get all artists that worked on the track
for artist in track['artists']:
    print(artist['name'], artist['id'])

Mustard 0YinUQ50QDB7ZxSCLyQ40k
Roddy Ricch 757aE44tKEUQEqRuT6GnEB

In [39]:
track['name']

"Ballin' (with Roddy Ricch)"

In [40]:
track['id']

'3QzAOrNlsabgbMwlZt7TAY'

In [41]:
track['popularity']

89

In [49]:
track_l1 = [track['name'], track['id'], track['popularity'], track['album']['name'], track['album']['id'], track['album']['release_date']]

In [50]:
track_l1

["Ballin' (with Roddy Ricch)",
 '3QzAOrNlsabgbMwlZt7TAY',
 89,
 'Perfect Ten',
 '2WrNHOba5u6P9S9xEboaUy',
 '2019-06-28']

In [55]:
# get all artists and ids 
track_l2 = [(a['name'], a['id']) for a in track['artists']]
print(track_l2)

[('Mustard', '0YinUQ50QDB7ZxSCLyQ40k'), ('Roddy Ricch', '757aE44tKEUQEqRuT6GnEB')]

In [56]:
track_list = track_l1 + track_l2
print(track_list)

["Ballin' (with Roddy Ricch)", '3QzAOrNlsabgbMwlZt7TAY', 89, 'Perfect Ten', '2WrNHOba5u6P9S9xEboaUy', '2019-06-28', ('Mustard', '0YinUQ50QDB7ZxSCLyQ40k'), ('Roddy Ricch', '757aE44tKEUQEqRuT6GnEB')]

In [59]:
col_names = ['track_name', 'track_id', 'popularity', 'album_name', 'album_id', 'album_release_date', 'artist_name_id']

In [62]:
track_df = pd.DataFrame(columns=col_names )

In [ ]:
track_series = pd.Series(track_list, index = df.columns)

In [65]:
track_df.append(track_series, ignore_index=True)

,0,album_id,album_name,album_release_date,artist_name_id,popularity,track_id,track_name
0,Ballin' (with Roddy Ricch),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3QzAOrNlsabgbMwlZt7TAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Perfect Ten,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2WrNHOba5u6P9S9xEboaUy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"(Mustard, 0YinUQ50QDB7ZxSCLyQ40k)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"(Roddy Ricch, 757aE44tKEUQEqRuT6GnEB)",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
track_df

                                       0
0             Ballin' (with Roddy Ricch)
1                 3QzAOrNlsabgbMwlZt7TAY
2                                     89
3                            Perfect Ten
4                 2WrNHOba5u6P9S9xEboaUy
5                             2019-06-28
6      (Mustard, 0YinUQ50QDB7ZxSCLyQ40k)
7  (Roddy Ricch, 757aE44tKEUQEqRuT6GnEB)