In [1]:
import sqlite3
import sqlalchemy
import pandas as pd
import numpy as np
import json
import re
import pprint
import os
from glob import glob
import pickle

In [2]:
with open (r'data/spotify_ids.pkl', 'rb') as f:
    spotify_ids = pickle.load(f)

In [3]:
# connect to music sqlite3 database 
conn = sqlite3.connect('music.db')
c = conn.cursor()

## Connect the spotify track id to the Genius tracks 
- Read into pandas df

In [4]:
PATH = "data/lyrics/"
EXT = "*.txt"

lyric_txts = [file
             for path, subdir, files in os.walk(PATH)
             for file in glob(os.path.join(path, EXT))]

lyrics_dict = {}   # dict to store {song: lyrics} values

for fname in lyric_txts:
    fname_spl = fname.split('.txt')[0]
    fname_spl2 = fname_spl.split('\\')
    song = fname_spl2[1]
    
    with open(fname, 'r', encoding='utf8') as f:
        lyrics_dict[song] = f.read()

In [5]:
lyrics_df = (pd.DataFrame.from_dict(lyrics_dict, orient='index')).reset_index().rename(index = str, columns = {'index': 'song_name', 0: 'text'})

In [7]:
spotify_df = pd.DataFrame(spotify_ids).rename(columns = {0: 'song_name_orig', 1: 'song_name', 2: 'spotify_id'})

In [8]:
spotify_df.drop_duplicates(inplace=True)

In [9]:
print(lyrics_df.shape, spotify_df.shape)

(142, 2) (142, 3)

In [10]:
merged = lyrics_df.merge(spotify_df, how='left', on='song_name')

In [11]:
merged.shape

(142, 4)

In [12]:
# merged.head()

,song_name,text,song_name_orig,spotify_id
0,10000Hours,"\n\nDo you love the rain, does it make you dan...","10,000 Hours",2wrJq5XKLnmhRXHIAf9xBa
1,AdoreYou,\n\n[Verse 1: Harry Styles]\nWalk in your rain...,Adore You,1M4qEo4HE3PRaCOM7EXNJq
2,AfterAFew,\n\n[Verse 1]\nI probably shouldn't have said ...,After A Few,1z6wl2rwKatfmza6usanWw
3,AfterHours,\n\n[Verse 1]\nThought I almost died in my dre...,After Hours,2p8IUWQDrpjuFltbdgLOag
4,AloneAgain,\n\n[Verse]\nTake off my disguise\nI'm living ...,Alone Again,6b5P51m8xx2XA6U7sdNZ5E

## Add to music db with sqlite3

In [13]:
merged.to_sql('lyrics', con=conn, index=False, if_exists='replace')

In [15]:
conn.commit()
conn.close()